<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herencia</title>
</head>

<body>
    <article class="box">
        Clase Persona
        <pre ><code id="code-person"></code></pre>
    </article>
    <article class="box">
        Clase Estudiante
        <pre ><code id="code-student"></code></pre>
    </article>
    <article class="box">
        Clase Profesor
        <pre ><code id="code-teacher"></code></pre>
    </article>
    <article class="box">
        Ejemplos de uso de clases
        <pre ><code id="code-poo-examples"></code></pre>
    </article>
</body>

</html>