body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: rgb(26, 26, 26);
}

/* estilos para el menú de la aplicación */

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#menu li {
  float: left;
  display: block;
  color: burlywood;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#menu li:hover {
  background-color: #111111;
  color: white;
}

/* fin de estilos para el menú de la aplicación */

.code-style {
  line-height: 1.2em;
  font-size: 0.95em;
}

.box {
  height: 400px;
  overflow: scroll;
}

